/** general **/

body {
  	min-width: 350px;
  	font-weight: 300;
}

.reg-content {
  	margin: 20px 0px 50px;
}

.sppb-btn {
	cursor: pointer;
}

._access-icon {
  	display: none !important;
}

.scrollTop {
  	padding: 10px 15px;
  	bottom: 40px;
    right: 30px;
    background: rgba(0, 113, 169, 0.35);
    border-radius: 4px;
    cursor: pointer;
  	transition: background 0.5s;
}

.scrollTop:hover {
  	background: rgba(0, 113, 169, 1);
  	transition: background 0.5s;
}

.scrollTop .fa {
  	color: #fff;
}

/** general -> btn **/

.btn-anim-pulse {
    box-shadow: none;
    -webkit-animation: si-pulse 5s 0s ease-out infinite;
    -moz-animation: pulse 5s 0s ease-out infinite;
    animation: pulse 5s 0s ease-out infinite;
}

.btn-anim-shine {
    position: relative;
    overflow: hidden;
  	border: none;
}

.btn-anim-shine:before {
	content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}

/** general -> animations **/

@keyframes pulse {
    40% {box-shadow: none;}
    60% {box-shadow: 0 0 5px 6px #ff2b02, 0 0 7px 14px #de323c;}
    80% {box-shadow: 0 0 7px 4px rgba(255, 48, 26, 0), 0 0 5px 15px rgba(255, 48, 26, 0);}
}

@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
}

/** structure **/
/** structure -> top-toolbar **/

.top-toolbar {
    padding: 10px 0px;    
  	background-color: #fff;
  	border-bottom: 1px solid #e9e9e9;
}

.top-toolbar .container .row {
  	display: flex;
  	align-items: center;
}

.top-toolbar .box-1 {
    font-size: 15px;
  	color: #6d6d6d;
}

.top-toolbar .box-1 .wrap-links .link {
	margin-right: 20px;
  	cursor: pointer;
  	border-bottom: dashed 1px #ababab;
}

.top-toolbar .box-1 .wrap-links .link:last-child {
  	margin-right: 0px;
}

.top-toolbar .box-1 .wrap-links a {
  	color: #6d6d6d;
  	font-size: 15px;
}

.top-toolbar .box-1 .dropdown-toggle::after {
  	transition: transform 0.15s linear;
    transform: translateY(3px);
}

.top-toolbar .box-1 .dropdown-menu {
  	min-width: 220px;
    padding: 0px;
    box-shadow: 1px 7px 13px 2px rgb(0 0 0 / 50%);
	border: none;
    border-radius: 0;
}

.top-toolbar .box-1 .dropdown-menu li a {
  	padding: 10px;
}

.top-toolbar .box-1 .dropdown-menu li a:focus, 
.top-toolbar .box-1 .dropdown-menu li a:hover {
  	background-color: #0071a9;
    color: #fff;
}

.top-toolbar .box-2 {
  	text-align: right;
}

.top-toolbar .box-2 .btn-appointment {
	display: inline-block;
    padding: 8px 20px 10px 20px;
    line-height: 1.25;
    font-size: 15px;
    font-weight: 300;
    background-color: #de323c;
    color: #ffffff;
    border-radius: 4px;
}

.top-toolbar .box-2 .btn-appointment:hover {
  	background-color: #f34852;
    color: #ffffff;
}

/** structure -> menu-toolbar **/

.menu-toolbar {
    padding: 10px 0px;    
  	background-color: #fff;
    color: #3a3a3c;
}

.menu-toolbar .container .row {
  	display: flex;
  	align-items: center;
}

.menu-toolbar .box-1 .main-logo {
    max-width: 160px;
}

.menu-toolbar .box-1 .main-logo img {
    width: 100%;
}

.menu-toolbar .box-2 .extra .caption {
    border-left: solid 3px #0071a9;
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.menu-toolbar .box-2 .extra .btn-eyeless {
  	margin-left: 15%;
  	color: #0071a9;
    font-size: 28px;
    cursor: pointer;
}

.menu-toolbar .box-2 .extra .btn-search {
  	margin-left: 20px;
  	color: #0071a9;
    font-size: 28px;
    cursor: pointer;
}

.menu-toolbar .box-4 {
    text-align: right;
}

.menu-toolbar .box-4 .info .tel:before {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    font-weight: 900;
    margin-right: 10px;
    font-size: 20px;
    color: #0071a9;
}

.menu-toolbar .box-4 .info .tel a {
    color: #3a3a3c;
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
}

.menu-toolbar .box-4 .info .time {
    font-size: 14px;
}

/** structure -> footer **/

footer {
  	padding: 30px 0px;
  	background-color: #00547d;
  	border-top: 0px;
}

footer .box-1 .logo {
  	max-width: 200px;
}

footer .box-1 .logo img {
  	width: 100%;
}

footer .footer-nav {
    padding: 0px;
    list-style: none;
}

footer .footer-nav li a {
    display: inline;
}

footer .footer-nav li a:hover {
  	text-decoration: underline;
}

footer .footer-nav li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    margin-right: 5px;
}

footer .box-2 h3,
footer .box-3 h3,
footer .box-4 h3 {
  	font-size: 20px;
    font-weight: 700;
}

footer .box-4 {
  	text-align: right;
}

footer .box-4 .tel a {
    font-size: 20px;
    color: #fff;
}

footer .box-4 .tel a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    font-weight: 900;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}

footer .box-4 .adress a {
  	color: #fff;
}

footer .box-4 .adress a::before {
    font-family: "Font Awesome 5 Free";
    content: "\f3c5";
    font-weight: 900;
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
}

footer .box-4 .social a {
  	margin-left: 10px;
    font-size: 30px;
    color: #fff;
  	transition: color 0.5s;
}

footer .box-4 .social a:hover {
  	color: #de323c;
  	transition: color 0.5s;
}

/** structure -> copyright **/

.copyright {
  	background-color: #00547d;
}

.copyright .box-1,
.copyright .box-2 {
  	font-size: 14px;
}

.copyright .box-1 a,
.copyright .box-2 a {
  	color: #fff;
  	font-weight: 500;
  	text-decoration: underline;
}

.copyright .box-2 {
  	margin-top: 0px;
}

/** structure -> slider **/

@media (min-width: 768px) {
  .slider .n2-ss-slide-background div {
      background-image: linear-gradient(90deg, #399ece 20%, #ffffff 100%);
  }
}

.slider .box-present {
  	color: #fff;
}

.slider .box-present h1 {
  	margin-bottom: 30px;
  	font-weight: 700;
  	text-transform: uppercase;
}

.slider .box-present .text {
  	margin-bottom: 30px;
  	line-height: 1.2;
  	font-size: 20px;
    font-weight: 300;
}

.slider .box-present .btn-wrap .btn {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
  	line-height: 1.25;
  	font-size: 18px;
  	font-weight: 400;
  	background-color: #de323c;
    color: #ffffff;
  	border-radius: 4px;
  	transition: all .15s ease-in-out;
}

.slider .box-present .btn-wrap .btn:hover {
  	background-color: #f34852;
    color: #ffffff;
}

.slider .box-img img {
    max-width: 100%;
    height: auto;
}

/** structure -> breadcrumbs **/

.breadcrumbs {
	padding-top: 20px;
    background: #fff;
  	font-size: 14px;
}

.breadcrumbs .breadcrumb {
  	margin-bottom: 0px;
}

.breadcrumbs a {
  	color: #de323c;
  	font-weight: 400;
  	text-decoration: underline;
}

/** modals **/
/** modals -> modal-search **/

.modal-search {
  	margin-top: 12vh;
}

.modal-search .modal-header {
  	display: block;
  	padding: 10px 0px;
    text-align: right;
    border: none;
}

.modal-search .modal-header .close {
    background: none;
  	font-size: 30px;
    color: #fff;
    border: none;
  	cursor: pointer;
}

.modal-search .modal-content {
  	padding: 25px;
  	border-radius: 4px;
  	border: none;
}

.modal-search .modal-content h3 {
  	margin-bottom: 20px;
  	font-size: 20px;
}

.modal-search .modal-content .ps {
  	margin-top: 20px;
}

.modal-search .modal-content .awesomplete {
  	width: calc(100% - 100px);
}

.modal-search .modal-content .awesomplete > input {
  	background: rgba(212, 212, 212, 0.3);
  	border-radius: 4px 0px 0px 4px;
}

.modal-search .modal-content .btn {
  	padding: 5px 17px;
  	background: #de323c;
    border: #de323c;
  	transition: all 0.5s;
}

.modal-search .modal-content .btn:hover {
  	background: #f34852;
    border: #f34852;
  	transition: all 0.5s;
}

/** baforms **/

.ba-forms-modal-wrapper .ba-form-page {
	max-width: max-content !important;
}

.visible-forms-modal.ba-forms-modal-wrapper .ba-forms-modal {
	min-width: 320px !important;
}

.ba-forms-modal-wrapper, .ba-forms-modal-wrapper.ba-form-lightbox-layout {
	overflow-x: visible !important;
}

/** baforms -> ba-form-2 **/
/** baforms -> ba-form-7 **/

.ba-form-2 .ba-forms-modal,
.ba-form-7 .ba-forms-modal {
  	min-height: calc(100vh - 150px) !important;
}

@media (max-width: 768px) {
    .ba-form-2 .ba-forms-modal,
  	.ba-form-7 .ba-forms-modal {
		padding: 0px !important;
	}
}

.ba-form-2 .ba-form-page,
.ba-form-7 .ba-form-page {
  	background: none;
}

.ba-form-2 .ba-form-column-wrapper,
.ba-form-7 .ba-form-column-wrapper {
  	background: #fff;
}

.ba-form-2 .ba-form-column-wrapper .ba-form-column:first-child,
.ba-form-7 .ba-form-column-wrapper .ba-form-column:first-child {
  	background: url(../../../images/other/ba-form-img.jpg);
  	background-position: center;
  	background-size: cover;
}

.ba-form-2 .ba-form-column-wrapper .span6:last-child,
.ba-form-7 .ba-form-column-wrapper .span6:last-child {
    padding: 20px 20px 20px 10px;
}

.ba-form-2 .custom-html-wrapper h3,
.ba-form-7 .custom-html-wrapper h3 {
    margin-bottom: 20px;
    font-size: 22px;
}

.ba-form-2 .ba-form-html-field,
.ba-form-7 .ba-form-html-field {
  	margin-top: 30px;
  	margin-bottom: 10px;
}

.ba-form-2 .ba-form-submit-wrapper,
.ba-form-7 .ba-form-submit-wrapper {
  	margin-top: 20px;
}

@media (max-width: 768px) {
  	.ba-form-2 .ba-forms-lightbox-row,
  	.ba-form-7 .ba-forms-lightbox-row {
      	transform: translate(-20px, 0px);
      	text-align: center;
    }
  	.ba-form-2 .ba-form-column-wrapper .ba-form-column:first-child,
  	.ba-form-7 .ba-form-column-wrapper .ba-form-column:first-child {
    	display: none !important;
  	}
    .ba-form-2 .ba-form-column-wrapper .ba-form-column:last-child,
  	.ba-form-7 .ba-form-column-wrapper .ba-form-column:last-child {
      	margin: 10px;
      	padding: 20px;
		border: solid 4px #de323c;
    }
}

@media (max-width: 400px) {
    .ba-form-2 .ba-form-html-field,
  	.ba-form-7 .ba-form-html-field {
		margin-top: 0px;
    }
    .ba-form-2 .ba-form-submit-btn,
  	.ba-form-7 .ba-form-submit-btn {
		font-size: 14px;
      	text-align: center;
    }
  	.ba-form-2 .ba-form-submit-wrapper .ba-form-submit-recaptcha-wrapper,
  	.ba-form-7 .ba-form-submit-wrapper .ba-form-submit-recaptcha-wrapper {
    	display: inline-block;
  	}
	.ba-form-2 .ba-form-column-wrapper .ba-form-column:last-child,
  	.ba-form-7 .ba-form-column-wrapper .ba-form-column:last-child {
   		margin: 10px;
        padding: 10px;
  	}
}

/** baforms -> ba-form-6 **/

.ba-form-6 .ba-form-page .ba-forms-lightbox-row {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 99999;
}

.ba-form-6 .ba-form-html-field {
    margin-bottom: 15px;
}

.ba-form-6 .ba-form-rating-field {
    margin-bottom: 20px;
}

.ba-form-6 .ba-form-rating-field .ba-form-rating input {
  	cursor: pointer;
}

.ba-form-6 .ba-form-acceptance-field {
    margin: 15px 0px;
}

@media (min-width: 768px) {
  	.ba-form-6 .ba-form-column-wrapper .span12 {
    	padding: 25px;
	}
}

@media (max-width: 768px) {
    .ba-form-6 .ba-form-page .ba-forms-lightbox-row {
      right: 0px;
      top: 20px;
    }
}

/** modules **/
/** modules -> mod-feedback-1 **/
/** modules -> mod-feedback-2 **/

.below-content .mod-feedback-2 {
  	margin-bottom: 20px;
}

.mod-feedback-1 .container,
.mod-feedback-2 .container {
  	padding: 40px 50px;
    border-radius: 15px;
}

.mod-feedback-1 .container {
  	background: #e5f1f6;
}

.mod-feedback-2 .container {
  	background: #fceaeb;
}

.mod-feedback-1 .box-cont .wrap-title,
.mod-feedback-2 .box-cont .wrap-title {
	margin-bottom: 10px;
}

.mod-feedback-1 .box-cont .wrap-title h3,
.mod-feedback-1 .box-cont .wrap-title h2,
.mod-feedback-2 .box-cont .wrap-title h3,
.mod-feedback-2 .box-cont .wrap-title h2 {
  	font-size: 24px;
  	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.mod-feedback-1 .box-cont .wrap-text,
.mod-feedback-2 .box-cont .wrap-text {
	margin-bottom: 30px;
}

.mod-feedback-1 .box-cont .wrap-text div,
.mod-feedback-2 .box-cont .wrap-text div {
	font-size: 16px;
}

.mod-feedback-1 .box-cont .wrap-btn .btn,
.mod-feedback-2 .box-cont .wrap-btn .btn {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
  	background-color: #de323c;
  	color: #ffffff;
    transition: all .15s ease-in-out;
}

.mod-feedback-1 .box-cont .wrap-btn .btn:hover,
.mod-feedback-2 .box-cont .wrap-btn .btn:hover {
  	background-color: #f34852;
    color: #ffffff;
}

.mod-feedback-1 .box-img,
.mod-feedback-2 .box-img {
	position: relative;
}

.mod-feedback-1 .box-img .wrap-img img,
.mod-feedback-2 .box-img .wrap-img img {
    position: absolute;
  	right: 30px;
    bottom: -40px;
}

.mod-feedback-1 .box-img .wrap-img img {
  	max-width: 250px;
}

.mod-feedback-2 .box-img .wrap-img img {
  	max-width: 235px;
}

@media (max-width: 768px) {
    .mod-feedback-1 .container,
  	.mod-feedback-2 .container {
		padding: 40px 20px;
    }
    .mod-feedback-1 .box-cont,
  	.mod-feedback-2 .box-cont {
		text-align: center;
    }
    .mod-feedback-1 .box-img,
  	.mod-feedback-2 .box-img {
		display: none;
    }
}

/** modules -> mod-feedback-3 **/

.mod-feedback-3 {
  	padding: 40px;
    text-align: center;
    background: #e5f1f6;
}

.mod-feedback-3 .box-cont .wrap-title {
    margin-bottom: 20px;
}

.mod-feedback-3 .box-cont .wrap-title .caption {
  	font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.mod-feedback-3 .box-cont .wrap-text {
  	margin-bottom: 30px;
}

.mod-feedback-3 .box-cont .wrap-btn .btn {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
  	background-color: #de323c;
  	color: #ffffff;
    transition: all .15s ease-in-out;
}

.mod-feedback-3 .box-cont .wrap-btn .btn:hover {
  	background-color: #f34852;
    color: #ffffff;
}

/** modules -> mod-license **/

.mod-license .container {
  	position: relative;
  	padding: 40px 50px;
    border-radius: 15px;
  	background: #e5f1f6;
}

.mod-license .container .row {
  	display: flex;
    align-items: center;
}

.mod-license .box-lic .wrap-lic img {
  	max-width: 180px;
}

.mod-license .box-cont .wrap-title {
	margin-bottom: 10px;
}

.mod-license .box-cont .wrap-title h2 {
  	font-size: 22px;
  	font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.mod-license .box-cont .wrap-text {
  	margin-bottom: 30px;
}

.mod-license .box-cont .wrap-btn-group .btn-lic {
  	display: inline-block;
  	padding: 9px 24px;
  	margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
  	background-color: #de323c;
  	color: #ffffff;
    transition: all .15s ease-in-out;
}

.mod-license .box-cont .wrap-btn-group .btn-lic:hover {
  	background-color: #f34852;
    color: #ffffff;
}

.mod-license .box-cont .wrap-btn-group .btn-doc {
  	display: inline-block;
  	padding: 8px 24px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
  	background-color: transparent;
  	border: 1px solid #de323c;
  	color: #de323c;
    transition: all .15s ease-in-out;
}

.mod-license .box-cont .wrap-btn-group .btn-doc:hover {
  	background-color: #de323c;
    color: #ffffff;
}

.mod-license .box-img .wrap-img img {
  	max-width: 280px;
    position: absolute;
  	right: 30px;
    bottom: 0px;
}

@media (max-width: 1200px) {
    .mod-license .box-cont .wrap-btn-group .btn-lic {
		margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
  	.mod-license .box-img {
		display: none;
    }
}

@media (max-width: 768px) {
    .mod-license .container,
  	.mod-license .container {
		padding: 40px 20px;
    }
    .mod-license .box-cont {
		margin-top: 20px;
    }
    .mod-license .box-lic,
  	.mod-license .box-cont {
		text-align: center;
    }
}

/** modules -> mod-contacts **/

.mod-contacts .box-info div {
  	margin-bottom: 15px;
}

.mod-contacts .box-info i {
  	margin-right: 5px;
    color: #0071a9;
}

.mod-contacts .box-info div b {
    color: #0071a9;
    font-weight: bold;
}

.mod-contacts .box-info a {
    color: #3a3a3a;
    text-decoration: underline;
}

/** modules -> mod-doctors **/

.mod-doctors .box-cont {
  	margin-bottom: 24px;
}

.mod-doctors .wrapper {
    display: flex;
    flex-direction: column;
  	height: 100%;
  	background: #f6fafc;
}

.mod-doctors .wrap-img {
  	position: relative;
}

.mod-doctors .wrap-img .inner-img img {
  	width: 100%;
}

.mod-doctors .wrap-img .inner-btn .btn-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 30px 8px 30px;
    background: #ffffff;
    color: #0071a9;
    font-weight: 300;
    border-radius: 4px;
}

.mod-doctors .wrap-img a:hover .inner-btn .btn-more{
    background: #0071a9;
    color: #ffffff;
}

.mod-doctors .wrap-desc {
  	padding: 20px;
    display: flex;
    flex-direction: column;
  	justify-content: space-between;
    flex-grow: 1;
}

.mod-doctors .wrap-desc .caption {
  	margin-bottom: 10px;
  	color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.mod-doctors .wrap-desc .direction {
  	margin-bottom: 10px;
}

.mod-doctors .wrap-desc .direction a {
  	color: #1a91cc;
  	font-weight: 400;
}

.mod-doctors .wrap-desc .direction a:hover {
  	color: #0071a9;
}

.mod-doctors .wrap-desc .education-list {
  	margin-bottom: 10px;
}

.mod-doctors .wrap-desc .education-list div {
  	margin-bottom: 5px;
}

.mod-doctors .wrap-desc .education-list div i {
    margin-right: 10px;
    color: #0071a9;
}

.mod-doctors .wrap-desc .experience {
  	margin-bottom: 20px;
  	font-weight: 400;
}

.mod-doctors .wrap-desc .experience i {
    margin-right: 10px;
    color: #3fd4c4;
}

.mod-doctors .wrap-desc .inner-btn .btn-appointment {
  	display: block;
  	padding: 8px 25px 8px 25px;
  	background-color: #de323c;
    color: #FFFFFF;
  	border-radius: 4px;
  	transition: background 0.5s;
}

.mod-doctors .wrap-desc .inner-btn .btn-appointment:hover {
  	background-color: #f34852;
  	transition: background 0.5s;
}

/** modules -> mod-quote **/

.mod-quote .box-cont .wrap-quote {
  	margin-bottom: 20px;
}

.mod-quote .box-cont .wrap-quote i {
  	font-size: 26px;
  	color: #0071a9;
}

.mod-quote .box-cont .wrap-text {
	margin-bottom: 30px;
}

.mod-quote .box-doc .wrap-doctor {
  	margin-bottom: 20px;
}

.mod-quote .box-doc .wrap-doctor .name a {
  	font-weight: bold;
    color: #0071a9;
}

.mod-quote .box-doc .wrap-doctor .spec a {
  	padding-bottom: 2px;
    color: #333333;
  	border-bottom: solid 1px #333;
}

.mod-quote .box-doc {
	text-align: center;
}

.mod-quote .box-doc .wrap-img img {
    max-width: 272px;
}

@media (max-width: 991px) {
    .mod-quote .box-cont,
  	.mod-quote .box-doc {
		text-align: center;
    }
    .mod-quote .box-doc .wrap-img {
		display: none;
    }
}

/** section **/
/** section -> sect-feedback-1 **/
/** section -> sect-feedback-2 **/

.sect-feedback-1 .container,
.sect-feedback-2 .container {
  	padding: 40px 50px;
    border-radius: 15px;
}

.sect-feedback-1 .container {
    background: #e5f1f6;
}

.sect-feedback-2 .container {
    background: #fceaeb;
}

.sect-feedback-1 .box-cont .wrap-title,
.sect-feedback-2 .box-cont .wrap-title {
	margin-bottom: 10px;
}

.sect-feedback-1 .box-cont .wrap-title h2,
.sect-feedback-2 .box-cont .wrap-title h2,
.sect-feedback-1 .box-cont .wrap-title h3,
.sect-feedback-2 .box-cont .wrap-title h3 {
  	font-size: 24px;
  	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sect-feedback-1 .box-cont .wrap-text,
.sect-feedback-2 .box-cont .wrap-text {
	margin-bottom: 30px;
}

.sect-feedback-1 .box-cont .wrap-text div,
.sect-feedback-2 .box-cont .wrap-text div {
	font-size: 16px;
}

.sect-feedback-1 .box-cont .wrap-btn .btn,
.sect-feedback-2 .box-cont .wrap-btn .btn {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
  	background-color: #de323c;
  	color: #ffffff;
    transition: all .15s ease-in-out;
}

.sect-feedback-1 .box-cont .wrap-btn .btn:hover,
.sect-feedback-2 .box-cont .wrap-btn .btn:hover {
  	background-color: #f34852;
    color: #ffffff;
}

.sect-feedback-1 .box-img,
.sect-feedback-2 .box-img {
	position: relative;
}

.sect-feedback-1 .box-img .wrap-img img,
.sect-feedback-2 .box-img .wrap-img img {
    position: absolute;
  	right: 30px;
    bottom: -40px;
}

.sect-feedback-1 .box-img .wrap-img img {
    max-width: 250px;
}

.sect-feedback-2 .box-img .wrap-img img {
    max-width: 235px;
}

@media (max-width: 768px) {
    .sect-feedback-1 .container,
  	.sect-feedback-2 .container {
		padding: 40px 20px;
    }
    .sect-feedback-1 .box-cont,
  	.sect-feedback-2 .box-cont {
		text-align: center;
    }
    .sect-feedback-1 .box-img,
  	.sect-feedback-2 .box-img {
		display: none;
    }
}

/** section -> sect-feedback-3 **/

.sect-feedback-3 {
  	padding: 40px;
    text-align: center;
    background: #e5f1f6;
}

.sect-feedback-3 .box-cont .wrap-title {
    margin-bottom: 20px;
}

.sect-feedback-3 .box-cont .wrap-title .caption {
  	font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sect-feedback-3 .box-cont .wrap-text {
  	margin-bottom: 30px;
}

.sect-feedback-3 .box-cont .wrap-btn .btn {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 4px;
  	background-color: #de323c;
  	color: #ffffff;
    transition: all .15s ease-in-out;
}

.sect-feedback-3 .box-cont .wrap-btn .btn:hover {
  	background-color: #f34852;
    color: #ffffff;
}

/** section -> sect-services **/

.sect-services .box-cont .serv-link {
  	display: inline-block;
  	margin-bottom: 15px;
  	margin-right: 5px;
}

.sect-services .box-cont .serv-link span {
  	display: block;
  	padding: 10px 15px;
  	background: #fff;
  	border-radius: 25px;
    color: #3a3a3c;
    font-weight: 500;
    font-size: 16px;
}

.sect-services .box-cont .serv-link a {
  	display: block;
  	padding: 10px 15px;
  	background: #fff;
  	border-radius: 25px;
    color: #3a3a3c;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}

.sect-services .box-cont .serv-link a:hover {
  	color: #0071a9;
    transition: all 0.3s;
}

/** section -> sect-reviews **/

.sect-reviews .box-rev .sppb-testimonial-carousel-testi_layout3 .sppb-testimonial-carousel-designation a {
  	color: #de323c;
  	font-weight: bold;
}

.sect-reviews .box-rev .sppb-testimonial-carousel-item-content {
  	margin-left: 10px;
  	margin-right: 10px;
  	min-height: 350px;
}

@media (max-width: 991px) {
    .sect-reviews .box-rev .sppb-testimonial-carousel-item-content {
        min-height: 430px;
    }
}

@media (max-width: 786px) {
    .sect-reviews .box-rev .sppb-testimonial-carousel-item-content {
        min-height: 320px;
    }
}

/** section -> sect-healing **/

.sect-healing .box-cont h2 {
  	padding-left: 15px;
  	border-left: solid 3px #0071a9;
}

.sect-healing .box-cont ul li span,
.sect-healing .box-cont ul li a {
  	font-size: 18px;
  	font-weight: 500;
  	letter-spacing: 0.5px;
  	line-height: 30px;
  	color: #0071a9;
}

/** section -> sect-promo **/

.sect-promo .box-text .btn-register {
	border: solid 2px #fff;
}

.sect-promo .box-timer .sppb-addon-content {
  	text-align: center;
}

.sect-promo .box-timer .special {
  	font-size: 22px;
    color: #c53030;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.sect-promo .box-timer .price {
  	font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.sect-promo .box-timer .price .old-price {
  	color: #c53030;
    margin-right: 10px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 5 L95 100 L100 99' fill='black' /><path d='M0 95 L99 0 L100 5 L1 100' fill='black' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto
}

/** section -> sect-quote **/

.sect-quote .container {
  	padding: 40px 50px;
    border-radius: 15px;
  	background: #e5f1f6;
}

.sect-quote .box-quote i {
  	font-size: 26px;
  	color: #0071a9;
}

.sect-quote .box-cont .wrap-text {
	margin-bottom: 30px;
}

.sect-quote .box-cont .wrap-text div {
	font-size: 16px;
}

.sect-quote .box-cont .wrap-doctor .name a {
  	font-weight: bold;
    color: #0071a9;
}

.sect-quote .box-cont .wrap-doctor .spec a {
  	padding-bottom: 2px;
    color: #333333;
  	border-bottom: solid 1px #333;
}

.sect-quote .box-img {
	position: relative;
}

.sect-quote .box-img .wrap-img img {
    position: absolute;
  	right: 30px;
    bottom: -40px;
}

.sect-quote .box-img .wrap-img img {
    max-width: 250px;
}

@media (max-width: 768px) {
    .sect-quote .container {
		padding: 40px 20px;
    }
    .sect-quote .box-cont {
		text-align: center;
    }
    .sect-quote .box-img {
		display: none;
    }
}

/** section -> sect-price **/

.sect-price .box-cont .sppb-panel-custom button {
  	border: solid 1px #ececec;
    border-radius: 4px;
}

.sect-price .box-cont .wrap-item {
    display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 20px 15px;
  	margin-bottom: 10px;
  	font-size: 14px;
  	font-weight: 400;
    background: #f5f7fc;
    border: solid 1px #ececec;
    border-radius: 4px;
}

.sect-price .box-cont .wrap-item .cost {
  	margin-left: 10px;
  	white-space: nowrap;
}

.sect-price .box-cont .ps {
  	font-size: 10px;
}

/** section -> sect-indications **/

.sect-indications .box-indications .text,
.sect-indications .box-contraindications .text {
  	margin-bottom: 20px;
}

.sect-indications .box-indications .list div:before {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
    font-weight: 900;
    margin-right: 10px;
    font-size: 16px;
    color: #0071a9;
}

.sect-indications .box-contraindications .list div:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    margin-right: 10px;
    font-size: 16px;
    color: #0071a9;
}

/** section -> sect-check **/

.sect-check .box-img {
  	width: 100%;
  	max-width: 300px;
}

.sect-check .box-cont .check {
  	margin-bottom: 30px;
  	font-size: 20px;
  	color: #0071a9;
    font-weight: bold;
}

.sect-check .box-cont .caption {
  	margin-bottom: 10px;
  	color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.sect-check .box-cont .direction {
  	margin-bottom: 10px;
}

.sect-check .box-cont .direction a {
  	color: #1a91cc;
  	font-weight: 400;
}

.sect-check .box-cont .direction a:hover {
  	color: #0071a9;
}

.sect-check .box-cont .education-list {
  	margin-bottom: 10px;
}

.sect-check .box-cont .education-list div {
  	margin-bottom: 5px;
}

.sect-check .box-cont .education-list div i {
    margin-right: 10px;
    color: #0071a9;
}

.sect-check .box-cont .experience {
  	margin-bottom: 20px;
  	font-weight: 400;
}

.sect-check .box-cont .experience i {
    margin-right: 10px;
    color: #3fd4c4;
}

/** section -> sect-flipbox **/

.sect-flipbox .flipbox {
  	perspective: 1000px;
}

.sect-flipbox .flipbox:hover .inner, .sect-flipbox .flipbox:active .inner, .sect-flipbox .flipbox:focus .inner {
  	transform: rotateY(180deg);
}

.sect-flipbox .flipbox, .flipbox .inner {
  	height: 280px;
}

.sect-flipbox .flipbox .inner {
  transition: transform 0.7s ease-in-out;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}

.sect-flipbox .flipbox .front,
.sect-flipbox .flipbox .back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #2e3b3e;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  	border-radius: 5px;
  	text-align:center;
}

.sect-flipbox .flipbox .front .caption {
  	position: absolute;
    padding: 20px;
    font-size: 24px;
    font-weight: 700;
  	z-index: 2;
}

.sect-flipbox .flipbox .front .images {
  	display: flex;
  	width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.sect-flipbox .flipbox .front .images .overlay {
  	position: absolute;
  	width: 100%;
    height: 100%;
    background: #000;
    opacity: 30%;
  	z-index: 1;
}

.sect-flipbox .flipbox .front .images img {
  	-o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.sect-flipbox .flipbox .back {
  	padding: 20px;
  	z-index: 3;
  	transform: rotateY(180deg);
}

/** structure **/
/** structure -> home **/

.home .sect-directions .box-directions .sppb-addon-title a {
  	color: #fff;
}

.home .sect-directions .box-directions .sppb-addon-title a:hover {
  	text-decoration: underline;
}

.home .sect-directions .box-directions .overlay-image-button-wrap a {
 	border-radius: 0px;
  	border-bottom: solid 2px #fff;
}

.home .sect-articles .box-articles .sppb-addon-articles .sppb-col-xs-12 {
  	margin-bottom: 20px;
}

.home .sect-articles .box-articles .sppb-addon-article {
  	height: 100%;
  	background: rgba(0, 113, 169, 0.1);
}

.home .sect-articles .box-articles .sppb-article-info-wrap {
  	padding: 15px 20px 20px 20px;
}

.home .sect-articles .box-articles .sppb-article-info-wrap h3 a {
  	color: #333;
    font-size: 20px;
    font-weight: bold
}

.home .sect-articles .box-articles .sppb-article-info-wrap .sppb-article-introtext {
  	margin-bottom: 40px;
}

.home .sect-articles .box-articles .sppb-article-info-wrap .sppb-readmore {
	position: absolute;
    bottom: 25px;
    background: #de323c;
    color: #fff;
    padding: 8px 26px 10px 26px;
    border-radius: 4px;
    transition: background 0.5s;
}

.home .sect-articles .box-articles .sppb-article-info-wrap .sppb-readmore:hover {
  	background: #f34852;
  	transition: background 0.5s;
}

/** structure -> home -> finder (стр. "Результатов поиска") **/

.home .finder .com-finder__form .js-finder-search-query {
  	border-radius: 5px 0px 0px 5px;
}

.home .finder .com-finder__form .btn-primary {
	background-color: #de323c;
  	border: solid 1px #de323c;
  	transition: background 0.5s;
}

.home .finder .com-finder__form .btn-primary:hover {
  	background-color: #f34852;
  	transition: background 0.5s;
}

.home .finder .com-finder__form .btn-secondary {
  	border: solid 1px #6c757d;
}

.home .finder .com-finder__results .com-finder__explained a {
  	color: #de323c;
  	text-decoration: underline;
}

.home .finder .com-finder__results .com-finder__results-list a .result__title-text {
  	color: #de323c;
  	text-decoration: underline;
}

.home .finder .com-finder__results .com-finder__results-list a .result__title-url {
	font-weight: bold;
}

/** structure -> kontrol **/

.kontrol .sect-heading .sppb-addon-header {
	padding-bottom: 15px;
    border-bottom: solid 3px #0071a9 !important;
}

.kontrol .sect-list .box-org div span {
  	margin-right: 5px;
    color: #0071a9;
  	font-weight: bold;
}

.kontrol .sect-list .box-org .caption {
  	margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
  	line-height: 1.5;
}

.kontrol .sect-list .box-org .site,
.kontrol .sect-list .box-org .adress {
  	margin-bottom: 10px;
}

.kontrol .sect-list .box-org .site a,
.kontrol .sect-list .box-org .phone a {
    color: #333;
    border-bottom: solid 1px;
}

/** structure -> dokumenty **/

.dokumenty .sect-doclist .box-cont .sppb-panel-default {
  	margin-bottom: 15px;
  	background: none;
  	border-top: 1px solid #0071a9;
  	border-color: #0071a9;
  	border-radius: 4px;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default>.sppb-panel-heading {
  	background: none;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-panel-title {
  	color: #0071a9;
  	font-size: 16px;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-panel-title h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-panel-title i {
  	padding-right: 10px;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-panel-body {
  	border-top-color: #0071a9;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-toggle-direction i {
  	color: #0071a9;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-addon-content ul {
  	color: #0071a9;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-addon-content ul li {
  	margin-bottom: 5px;
}

.dokumenty .sect-doclist .box-cont .sppb-panel-default .sppb-addon-content ul li a {
  	color: #0071a9;
  	border-bottom: solid 1px;
}

/** structure -> litsenzii **/

.litsenzii .sect-heading .box-cont h1 {
  	display: block;
  	padding-bottom: 10px;
    border-bottom: solid 3px #de323c;
}

.litsenzii .sect-heading .box-cont p span {
  	font-weight: bold;
}

/** structure -> napravleniya **/

.napravleniya .sect-directions .box-flip .sppb-btn {
  	border: solid 2px #fff;
}

.napravleniya .sect-why-us .box-img {
  	text-align: center;
}

.napravleniya .sect-why-us .box-img img {
  	width: 100%;
  	max-width: 250px;
}

/** structure -> diagnostika-detail **/

.diagnostika-detail .sect-equipment .box-cont .wrap-list ul,
.diagnostika-detail .sect-result .box-cont .wrap-list ul {
  	padding-left: 0px;
    list-style-position: inside;
  	list-style-type: circle;
}

.diagnostika-detail .sect-equipment .box-cont h2,
.diagnostika-detail .sect-preparation .box-cont h2,
.diagnostika-detail .sect-result .box-cont h2 {
  	padding-left: 15px;
  	border-left: solid 3px #0071a9;
}

/** structure -> reabilitatsiya-detail **/

.reabilitatsiya-detail .sect-stages .box-step h3 {
  	font-size: 22px;
}

.reabilitatsiya-detail .sect-stages .box-step .caption {
    display: flex;
    align-items: center;  
  	font-size: 22px;
  	font-weight: 500;
  	margin-bottom: 10px;
}

.reabilitatsiya-detail .sect-stages .box-step .caption span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  	margin-right: 5px;
	width: 48px;
    height: 48px;
    background-color: #0071a9;
    color: #FFFFFF;
  	font-weight: 300;
    border-radius: 100px;
    border-style: solid;
}

.reabilitatsiya-detail .sect-result .sppb-item {
  	padding: 30px;
  	background: #fff;
}

.reabilitatsiya-detail .sect-result .box-cont h3 {
  	font-size: 20px;
}

.reabilitatsiya-detail .sect-result .box-cont .text {
  	margin-bottom: 20px;
}

.reabilitatsiya-detail .sect-result .box-cont .box-before .caption {
  	display: inline-block;
  	padding: 3px 13px;
  	margin-bottom: 10px;
    background: #ffd4d1;
  	font-weight: 500;
}

.reabilitatsiya-detail .sect-result .box-cont .box-after .caption {
    display: inline-block;
  	padding: 3px 13px;
  	margin-bottom: 10px;
    background: #ccfccc;
  	font-weight: 500;
}

.reabilitatsiya-detail .sect-result .box-cont .box-before .list {
  	padding-right: 20px;
}

.reabilitatsiya-detail .sect-result .box-cont .box-before .list div,
.reabilitatsiya-detail .sect-result .box-cont .box-after .list div {
  	margin-bottom: 10px;
}

.reabilitatsiya-detail .sect-result .box-cont .box-before .list div:last-child,
.reabilitatsiya-detail .sect-result .box-cont .box-after .list div:last-child {
  	margin-bottom: 0px;
}

.reabilitatsiya-detail .sect-result .box-cont .box-before .list div i {
  	color: #e23e3e;
}

.reabilitatsiya-detail .sect-result .box-cont .box-after .list div i {
  	color: #61d175;
}

.reabilitatsiya-detail .sect-result .box-cont .sppb-carousel-arrow.left i {
  	margin-left: -50px;
}

.reabilitatsiya-detail .sect-result .box-cont .sppb-carousel-arrow.right i {
  	margin-right: -50px;
}

.reabilitatsiya-detail .sect-result .box-cont .sppb-carousel-indicators {
  	bottom: 0px;
}

.reabilitatsiya-detail .sect-result .box-cont .sppb-carousel-indicators li {
  	border: solid 2px #0071a9;
}

.reabilitatsiya-detail .sect-result .box-cont .sppb-carousel-indicators .active {
  	background: #0071a9;
}

@media (max-width: 768px) {
    .reabilitatsiya-detail .sect-result .box-cont .box-before .list div:last-child {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .reabilitatsiya-detail .sect-result .box-cont .result {
        display: flex;
      	justify-content: space-between;
    }
    .reabilitatsiya-detail .sect-result .box-cont .result .box-before {
		width: 50%;
    }
    .reabilitatsiya-detail .sect-result .box-cont .result .box-after {
		width: 50%;
    }
}

/** structure -> lechenie-detail **/

.lechenie-detail .sect-preparation .box-cont h2 {
  	padding-left: 15px;
  	border-left: solid 3px #0071a9;
}

.lechenie-detail .sect-stages .box-step h3 {
  	font-size: 22px;
}

/** structure -> analizy **/

.analizy .sect-popular .box-cont .sppb-img-responsive {
  	max-width: 50px;
}

.analizy .sect-popular .box-cont .wrap {
    padding-top: 10px;
  	border-top: solid 1px #a0c1da;
}

.analizy .sect-popular .box-cont .wrap div {
  	margin-bottom: 5px;
}

.analizy .sect-popular .box-cont .wrap a {
    color: #333333;
    transition: all 0.3s;
}

.analizy .sect-popular .box-cont .wrap a:hover {
  	color: #0071a9;
    transition: all 0.3s;
}

/** structure -> doctors **/

.doctors .sect-mod-doctors .sppb-addon-header {
  	margin-bottom: 30px;
    border-bottom: solid 3px #de323c;
}

/** structure -> doctor-card **/

.doctor-card .sect-info .box-cont .wrap-special {
    width: 60%;
  	font-weight: 600;
}

@media (max-width: 768px) {
    .doctor-card .sect-info .box-cont .wrap-special {
		width: 100%;
    }
}

.doctor-card .sect-info .box-cont .wrap-special .education,
.doctor-card .sect-info .box-cont .wrap-special .experience {
  	display: flex;
    align-items: center;
}

.doctor-card .sect-info .box-cont .wrap-special .education {
  	margin-bottom: 10px;
}

.doctor-card .sect-info .box-cont .wrap-special .education i,
.doctor-card .sect-info .box-cont .wrap-special .experience i {
  	margin-right: 10px;
  	color: #0071a9;
  	font-size: 20px;
}

.doctor-card .sect-info .box-cont .wrap-appointment {
  	padding: 20px;
  	max-width: 500px;
    background: #e5f1f6;
    border-radius: 10px;
}

.doctor-card .sect-info .box-cont .wrap-appointment .price {
  	margin-bottom: 20px;
}

.doctor-card .sect-info .box-cont .wrap-appointment .first {
  	margin-right: 50px;
}

.doctor-card .sect-info .box-cont .wrap-appointment .caption {
  	font-size: 18px;
    font-weight: 600;
}

.doctor-card .sect-info .box-cont .wrap-appointment .cost {
    font-size: 18px;
    font-weight: 600;
    color: #4c9bc3;
}

.doctor-card .sect-info .box-cont .wrap-appointment .btn {
  	padding: 8px 35px 10px 35px;
    background: #de323c;
  	color: #fff;
  	transition: background 0.5s;
}

.doctor-card .sect-info .box-cont .wrap-appointment .btn:hover {
  	background: #f34852;
  	transition: background 0.5s;
}

.doctor-card .sect-about .box-cont h2,
.doctor-card .sect-services .box-cont h2,
.doctor-card .sect-education .box-cont h2,
.doctor-card .sect-sert .box-cont h2,
.doctor-card .sect-reviews .box-cont h2 {
  	padding-left: 15px;
  	border-left: solid 3px #0071a9;
}

.doctor-card .sect-services .box-cont ul li span,
.doctor-card .sect-services .box-cont ul li a {
  	font-size: 18px;
  	font-weight: 500;
  	letter-spacing: 0.5px;
  	line-height: 30px;
  	color: #0071a9;
}

.doctor-card .sect-education .box-cont span {
  	font-weight: bold;
}

.doctor-card .sect-reviews .box-cont .reviews a {
  	color: #333;
}

/** structure -> ceny **/

.ceny .sect-price-list .download {
    display: flex;
    justify-content: space-between;
    align-items: center;
  	padding: 20px;
    background: #e5edf9;
  	color: #333333;
    border-radius: 40px;
  	transition: background 0.5s;
}

.ceny .sect-price-list .download:hover {
  	background: #c8daf3;
  	transition: background 0.5s;
}

.ceny .sect-price-list .box-cont .wrap-text {
  	display: flex;
  	align-items: center;
  	font-weight: 600;
}

.ceny .sect-price-list .box-cont .wrap-text .icon {
  	margin-right: 20px;
}

.ceny .sect-price-list .box-cont .wrap-text i {
  	color: #0071a9;
    font-size: 30px;
}

.ceny .sect-price-list .box-arrow {
  	padding: 10px 15px;
    background: #0071a9;
  	color: #fff;
    border-radius: 40px;
}

/** structure -> stat **/

.stat .jlcontentfieldsfilter {
  	padding: 20px 20px 15px 20px;
    background: #f7f7f7;
    border-radius: 15px;
}

.stat .jlcontentfieldsfilter .jlmf-section {
  	margin: 0px;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 div:first-child {
  	display: flex;
  	flex-wrap: wrap;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 div div {
  	margin-bottom: 5px;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-checkbox {
  	display: none;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-checkbox:checked +  label {
    background: #0071a9;
    color: #fff;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 label {
  	margin-right: 5px;
  	padding: 7px 20px;
  	background: #fff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-link {
  	margin-top: 0px;
  	padding: 9px 20px;
    background: #de323c;
    color: #fff;
    border-radius: 5px;
}

.stat .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-link:hover {
  	background: #f34852;
  	text-decoration: none;
}

[class*="jlmf-list"] > div > div:not(:first-child) {
  	margin-top: 0px;
}

.stat .blog {
  	margin: 30px 0px;
}

.stat .blog h1 {
  	margin: 20px 0px;
}

.stat .blog .blog-item {
  	position: relative;
  	background: #f4fcff;
  	border-radius: 10px;
}

.stat .blog .item-img {
 	position: relative; 
}

.stat .blog .item-img .page-header {
	position: absolute;
    bottom: 0px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.4) 100%) transparent;
}

.stat .blog .item-img .page-header h2 {
  	margin-bottom: 0px;
  	font-size: 20px;
}

.stat .blog .item-img .page-header h2 a {
  	display: block;
  	padding: 30px 20px;
    width: 100%;
    height: 100%;
  	color: #fff;
}

.stat .blog .item-image {
  	margin: 0px;
}

.stat .blog .item-content {
  	padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.stat .blog .item-content .tags .category {
  	padding: 4px 8px;
  	background: #81c7f1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 400;
}

.stat .blog .item-content .article-info {
    display: flex;
    justify-content: space-between;
}

.stat .blog .blog-item .readmore .btn {
  	width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    background: #de323c;
    color: #fff;
    border-radius: 4px;
    transition: background 0.5s;
}

.stat .blog .blog-item .readmore .btn:hover {
    background: #f34852;
    transition: background 0.5s;
}

.stat .pagination li .page-link {
  	padding: 10px 15px;
}

.stat .pagination .active>.page-link, 
.stat .pagination .page-link.active {
  	color: #fff;
	background-color: #de323c;
    border-color: #de323c;
}

.stat .pagination .page-link {
  	color: #de323c;
}

.stat .pagination li:first-child .page-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.stat .pagination li:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/** structure -> stat-detail **/

.stat .com-content-article .intro .container .row {
  	margin-right: 0px;
  	margin-left: 0px;
  	background: #f3f3f3;
  	border-radius: 15px;
}

.stat .com-content-article .intro .container .col-lg-6 {
  	padding: 0px;
}

.stat .com-content-article .intro .box-cont,
.stat .com-content-article .intro .box-img {
    width: 100%;
    height: 100%;
}

.stat .com-content-article .intro .box-cont {
  	padding: 50px;
}

.stat .com-content-article .intro .box-cont .wrapper {
  	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat .com-content-article .intro .box-cont .wrap-upper {
  	margin-bottom: 50px;
}

.stat .com-content-article .intro .box-cont .wrap-upper .date {
  	margin-bottom: 20px;
  	color: #de323c;
  	font-weight: 500;
}

.stat .com-content-article .intro .box-cont .wrap-upper .heading {
  	margin-bottom: 35px;
}

.stat .com-content-article .intro .box-cont .wrap-upper .heading h1 {
  	font-size: 42px;
}

.stat .com-content-article .intro .box-cont .wrap-upper .button {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
  	font-size: 18px;
  	font-weight: 400;
  	color: #fff;
  	background-color: #de323c;
  	border-radius: 4px;
  	line-height: 1.25;
  	cursor: pointer;
  	transition: all .15s ease-in-out;
}

.stat .com-content-article .intro .box-cont .wrap-upper .button:hover {
  	background-color: #f34852;
  	transition: all .15s ease-in-out;
}

.stat .com-content-article .intro .box-cont .wrap-lower .text {
  	color: #9a9a9a;
}

.stat .com-content-article .intro .box-cont .wrap-lower .link a {
  	margin-right: 10px;
    display: inline-block;
    color: #333;
    border-bottom: solid 1px;
}

.stat .com-content-article .intro .box-img .image {
  	height: 100%;
}

.stat .com-content-article .intro .box-img .image-container {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.stat .com-content-article .intro .box-img .image-container img {
  	-o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.stat .com-content-article .sect-cont #system-readmore {
  	display: none;
}

.stat .com-content-article .sect-cont h2 {
  	margin-bottom: 20px;
}

/** structure -> akcii **/

.akcii .jlcontentfieldsfilter {
  	padding: 20px 20px 15px 20px;
    background: #f7f7f7;
    border-radius: 15px;
}

.akcii .jlcontentfieldsfilter .jlmf-section {
  	margin: 0px;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 div:first-child {
  	display: flex;
  	flex-wrap: wrap;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 div div {
  	margin-bottom: 5px;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-checkbox {
  	display: none;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-checkbox:checked +  label {
    background: #0071a9;
    color: #fff;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 label {
  	margin-right: 5px;
  	padding: 7px 20px;
  	background: #fff;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-link {
  	margin-top: 0px;
  	padding: 9px 20px;
    background: #de323c;
    color: #fff;
    border-radius: 5px;
}

.akcii .jlcontentfieldsfilter .jlmf-section .jlmf-list-1 .jlmf-link:hover {
  	background: #f34852;
  	text-decoration: none;
}

.akcii .below-content {
  	margin-top: 30px;
}

.akcii .below-content .mod-contacts {
  	margin: 30px 0px;
}

.akcii .blog {
  	margin: 30px 0px;
}

.akcii .blog h1 {
  	margin: 20px 0px;
}

.akcii .blog .blog-item {
  	position: relative;
  	background: #f7f7f7;
  	border-radius: 10px;
}

.akcii .blog .item-image {
  	margin: 0px;
}

.akcii .blog .item-content {
  	padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.akcii .blog .item-content .field-entry {
  	list-style-type: none;
  	color: #7f7f7f;
}

.akcii .blog .item-content h2 {
  	margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.akcii .blog .item-content h2 a {
  	color: #3a3a3c;
}

.akcii .blog .item-content .tags .category {
  	padding: 4px 8px;
  	background: #81c7f1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 400;
}

.akcii .blog .item-content .article-info {
    display: flex;
    justify-content: space-between;
}

.akcii .blog .blog-item .wrap-btn-row {
     display: flex;
    justify-content: space-between;
    margin-bottom: 25px; 
}

.akcii .blog .blog-item .wrap-btn-row .btn-appointment {
  	padding: 8px 24px;
  	border: solid 1px #0071a9;
  	color: #0071a9;
    transition: all 1.5s;
}

.akcii .blog .blog-item .wrap-btn-row .btn-appointment:hover {
	background: #0071a9;
    color: #fff;
    transition: all 1.5s;
}

.akcii .blog .blog-item .wrap-btn-row .readmore {
  	margin-bottom: 0px;
}

.akcii .blog .blog-item .readmore .btn {
    background: #de323c;
    color: #fff;
    border-radius: 4px;
    transition: background 0.5s;
}

.akcii .blog .blog-item .readmore .btn:hover {
    background: #f34852;
    transition: background 0.5s;
}

.akcii .pagination li .page-link {
  	padding: 10px 15px;
}

.akcii .pagination .active>.page-link, 
.akcii .pagination .page-link.active {
  	color: #fff;
	background-color: #de323c;
    border-color: #de323c;
}

.akcii .pagination .page-link {
  	color: #de323c;
}

.akcii .pagination li:first-child .page-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.akcii .pagination li:last-child .page-link {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/** structure -> akcii-detail **/

.akcii .com-content-article .intro .container .row {
  	margin-right: 0px;
  	margin-left: 0px;
  	background: #f3f3f3;
  	border-radius: 15px;
}

.akcii .com-content-article .intro .container .col-lg-6 {
  	padding: 0px;
}

.akcii .com-content-article .intro .box-cont,
.akcii .com-content-article .intro .box-img {
    width: 100%;
    height: 100%;
}

.akcii .com-content-article .intro .box-cont {
  	padding: 50px;
}

.akcii .com-content-article .intro .box-cont .wrapper {
  	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.akcii .com-content-article .intro .box-cont .wrap-upper {
  	margin-bottom: 50px;
}

.akcii .com-content-article .intro .box-cont .wrap-upper .date {
  	margin-bottom: 20px;
  	color: #de323c;
  	font-weight: 500;
}

.akcii .com-content-article .intro .box-cont .wrap-upper .heading {
  	margin-bottom: 35px;
}

.akcii .com-content-article .intro .box-cont .wrap-upper .heading h1 {
  	font-size: 42px;
}

.akcii .com-content-article .intro .box-cont .wrap-upper .button {
  	display: inline-block;
  	padding: 10px 40px 12px 40px;
  	font-size: 18px;
  	font-weight: 400;
  	color: #fff;
  	background-color: #de323c;
  	border-radius: 4px;
  	line-height: 1.25;
  	cursor: pointer;
  	transition: all .15s ease-in-out;
}

.akcii .com-content-article .intro .box-cont .wrap-upper .button:hover {
  	background-color: #f34852;
  	transition: all .15s ease-in-out;
}

.akcii .com-content-article .intro .box-cont .wrap-lower .text {
  	color: #9a9a9a;
}

.akcii .com-content-article .intro .box-cont .wrap-lower .link a {
  	margin-right: 10px;
    display: inline-block;
    color: #333;
    border-bottom: solid 1px;
}

.akcii .com-content-article .intro .box-img .image {
  	height: 100%;
}

.akcii .com-content-article .intro .box-img .image-container {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.akcii .com-content-article .intro .box-img .image-container img {
  	-o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.akcii .com-content-article .sect-cont #system-readmore {
  	display: none;
}

.akcii .com-content-article .sect-cont h2 {
  	margin-bottom: 20px;
}

/** structure -> vopros-otvet **/

/** structure -> otzyvy **/

.otzyvy .sect-platforms .sppb-section-title,
.otzyvy .sect-site .sppb-section-title,
.otzyvy .sect-video .sppb-section-title {
    border-bottom: solid 2px #e4e4e4;
}

.otzyvy .sect-rating .box-rating {
  	display: flex;
    width: 100%;
    height: 170px;
    border: 1px solid #c5b6b6;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}

.otzyvy .sect-rating .box-rating .wrap-img a {
  	display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.otzyvy .sect-rating .box-rating .wrap-img img {
  	max-width: 70%;
}

.otzyvy .sect-rating .box-rating .wrap-rating .star i {
	color: #f8cf4c;
    font-size: 16px;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 10px;
    margin-left: 3px;
}

/** structure -> kontakty **/

.kontakty .sect-director .box-text .wrap-caption .name {
  	font-size: 24px;
    font-weight: bold;
    color: #0071a9;
}

.kontakty .sect-director .box-text .wrap-caption .position {
    font-size: 20px;
    font-weight: bold;
}

.kontakty .sect-director .box-text .wrap-text .ps {
  	color: #0071a9;
  	font-size: 18px;
  	font-weight: bold;
}

.kontakty .sect-info .box-cont .wrap-adress div,
.kontakty .sect-info .box-cont .wrap-ps div {
  	margin-bottom: 15px;
}

.kontakty .sect-info .box-cont .wrap-adress div b,
.kontakty .sect-info .box-cont .wrap-ps div b {
  	color: #0071a9;
  	font-weight: bold;
}

.kontakty .sect-info .box-cont .wrap-adress div:last-child,
.kontakty .sect-info .box-cont .wrap-ps div:last-child {
  	margin-bottom: 0px;
}

.kontakty .sect-info .box-cont .wrap-adress i,
.kontakty .sect-info .box-cont .wrap-ps i {
  	margin-right: 5px;
  	color: #0071a9;
}

.kontakty .sect-info .box-cont .wrap-adress a,
.kontakty .sect-info .box-cont .wrap-ps a {
  	color: #0071a9;
  	border-bottom: solid 1px;
}

.kontakty .sect-info .box-cont .wrap-btn {
  	border: solid 2px #0071a9;
}

.kontakty .sect-other-clinic .box-clinic .caption {
  	margin-bottom: 20px;
  	color: #0071a9;
  	font-size: 18px;
  	font-weight: 500;
}

.kontakty .sect-other-clinic .box-clinic .caption a {
  	color: #0071a9;
}

.kontakty .sect-other-clinic .box-clinic .caption:before {
  	content: '';
    width:	10px;
    height: 10px;
  	display: inline-block;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #0071a9;
}

.kontakty .sect-other-clinic .box-clinic .phone,
.kontakty .sect-other-clinic .box-clinic .adress {
  	margin-bottom: 10px;
}

.kontakty .sect-other-clinic .box-clinic .phone a {
  	color: #0071a9;
  	border-bottom: solid 1px;
}

.kontakty .sect-other-clinic .box-clinic div i {
  	margin-right: 10px;
    color: #0071a9;
}

/** structure -> politika **/

.politika .sect-cont .box-text h2 {
  	font-size: 20px;
}

/** structure -> thanks **/

.thanks .sect-cont .box-window .social {
  	text-align: center;
}

.thanks .sect-cont .box-window .social a {
  	padding: 0px 15px;
  	font-size: 40px;
    color: #0071a9;
  	transition: color 0.5s;
}

.thanks .sect-cont .box-window .social a:hover {
  	color: #de323c;
  	transition: color 0.5s;
}

.thanks .sect-cont .box-window .btn-wrap {
	text-align: center;
}

.thanks .sect-cont .box-window .btn-wrap a {
  	padding: 8px 22px;
  	font-size: 18px;
    background: #de323c;
  	color: #fff;
    border-radius: 0px;
  	transition background 0.5s;
}

.thanks .sect-cont .box-window .btn-wrap a:hover {
  	background: #f34852;
  	transition background 0.5s;
}

/** media **/

@media (max-width: 1200px) {
   	.menu-toolbar .box-2 .extra .caption {
      font-size: 15px;
    }
    .menu-toolbar .box-4 .info .tel a {
      font-size: 18px;
    }
}

@media (max-width: 991px) {
    .menu-toolbar .box-4 .info .tel a {
        font-size: 12px;
    }
    footer .box-1 {
      	text-align: left;
		margin-bottom: 20px;
    }
  	footer .box-2,
  	footer .box-3,
    footer .box-4 {
		text-align: left;
    }
}

@media (max-width: 768px) {
   	.menu-toolbar .box-2 .extra .caption {
      font-size: 16px;
    }
    .menu-toolbar .box-4,
    .menu-toolbar .box-3 {
       	display: none;
    }
    .slider .container {
        margin-top: 50px;
    }
  	.stat .com-content-article .intro .box-cont,
    .akcii .com-content-article .intro .box-cont {
        padding: 30px;
    }
  	.stat .com-content-article .intro .box-cont .wrap-upper .heading h1,
    .akcii .com-content-article .intro .box-cont .wrap-upper .heading h1 {
		font-size: 26px;
    }
    .stat .counter {
        text-align: center;
    }
    .stat .pagination {
        justify-content: center;
    }
    footer .box-1 {
      	text-align: center;
		margin-bottom: 20px;
    }
    footer .box-1 .logo {
        margin: 0 auto;
    }
  	footer .box-2,
  	footer .box-3,
    footer .box-4 {
        max-width: 340px;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
  	.top-toolbar .box-1 .wrap-links {
      	margin-bottom: 20px;
		justify-content: center;
    }
    .top-toolbar .box-2 {
		margin-bottom: 10px;
    }
    .top-toolbar .box-2 .btn-appointment {
		width: 100%;
    }
    .menu-toolbar .box-1 .main-logo {
		margin: 0 auto;
    }
    .menu-toolbar .box-2 {
		display: none;
    }
}

@media (min-width: 1400px) {
    .sppb-row-container {
        max-width: 1320px;
    }
}